.orderDetails {
    display: flex;
    flex-direction: column;
}

.orderHeader {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center; 
    font-family: 'Iceland';
    font-size: 28px;
    font-weight: 400;
    color: #F2F2F3;
    margin-bottom: 20px; 
}

.orderNumber {
    font-size: 24px;
    font-weight: 700;
    color: #F2F2F3;
}

.orderName {
    font-size: 20px;
    font-weight: 700;
    color: #F2F2F3;
    text-align: left;
    width: 550px;
    min-height: 30px;
}



.orderStatus {
    font-size: 16px;
    font-weight: 400;
    color: #888888;
    margin-bottom: 10px; 
}

.ingredientsHeader {
    font-size: 18px;
    font-weight: 600;
    color: #F2F2F3;
    margin-top: 10px;
}

.ingredientsList {
    display: flex;
    flex-direction: column;
    gap: 0px;
    max-height: 250px; 
    overflow-y: auto; 
    padding-right: 20px; /* Отступ справа для полосы прокрутки */
    scrollbar-width: thin;
}

.ingredientRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    
}

.ingredient {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #131316;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredient img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ingredientName {
    flex-grow: 1;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #F2F2F3;
}

.ingredientPrice {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #F2F2F3;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.orderDate {
    font-size: 14px;
    color: #8585AD;
}

.totalPrice {
    display: flex;
    align-items: center;
    gap: 8px;
}

.totalAmount {
    font-size: 24px;
    font-weight: 700;
    color: #F2F2F3;
}
