.burgerIngredients {
    width: 40%;
    /* padding: 0 20px;  */
}

.burgerTabs {
    display: flex;
    margin-top: 20px;
}


.burgerHeader {
    margin-top: 40px;
    font-size: 36px;
    /* Устанавливаем размер шрифта */
    font-weight: 700;
    /* Устанавливаем вес шрифта */
}

.burgerBox {
    height: calc(100vh - 300px);
    /* высота экрана */
    overflow-y: auto;
    /* прокрутка по вертикали */
    scrollbar-width: thin;
}

.burgerBox::-webkit-scrollbar {
    width: 8px;
}

/* переехало из бургерпартс */

.partsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* выравниваем содержимое по центру по горизонтали */
    align-items: center;
    /* выравниваем содержимое по центру по вертикали */
  }
  