.orderDetails {
    display: flex;
    flex-direction: column;
}

.orderNumber {
    font-family: 'Iceland';
    font-weight: 400;
    font-size: 144px;
    line-height: 120px;
    text-align: center;
    justify-content: center;    
    display: flex; 
    height: 144px; 
}


.yourIdentifier {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-top: 32px;
}

.image {
    width: 120px;
    height: 120px;
    top: 362px;
    left: 300px;
    margin: 0 auto;
    margin-top: 60px;
}


.textBelow {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}


.textBelow2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #8585AD;
}


.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: rgb(75, 72, 255);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    text-align: center;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }