.header {
    width: 100%;
    min-height: 80px; 
    padding: 0 40px; /* Это добавляет пространство слева и справа от header */
    background-color: #1C1C21;
    display: flex;
    justify-content: space-between;
  }


  @font-face {
    font-family: 'JetBrains Mono';
    src: url('./../fonts/JetBrains_Mono/webfonts/JetBrainsMono-Regular.woff2') format('woff2');         
    font-weight: 400;
    font-style: normal;
}


.hdlink {
    text-decoration: none;  
    text-align: center;
    margin-right: 20px; /* Это добавляет пространство справа от каждого Link */

}

.section {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center; /* Это выравнивает элементы по центру внутри каждой секции */
    justify-content: center; /* Это выравнивает элементы по центру по горизонтали */
}


.hdtext {
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    line-height: 24px;
    color:#F2F2F3;
    margin-left: 10px
}

.hdtextinactive {
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    line-height: 24px;
    color: #8585AD;
    margin-left: 10px
}


