.header {
    width: 80%;
    min-height: 80px; 
    /* padding: 0 20px;  */
    /* Это добавляет пространство слева и справа от header */
    background-color: #1C1C21;
    display: flex;
    justify-content: left;
    margin:auto;
  }


  /* @font-face {
    font-family: 'JetBrains Mono';
    src: url('./../fonts/JetBrains_Mono/webfonts/JetBrainsMono-Regular.woff2') format('woff2');         
    font-weight: 400;
    font-style: normal;
} */


.link {
    text-decoration: none;  
    text-align: center;
    margin-right: 20px; 
     /* Это добавляет пространство справа от каждого Link */
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    line-height: 24px;
    color: #8585AD;
    /* margin-left: 10px */

}

.link:hover {
    color: #F2F2F3; /* Это устанавливает цвет текста при наведении мыши */
}


.section {
    width: 33%;
    display: flex;
    flex-direction: row;
    /* align-items: center; Это выравнивает элементы по центру внутри каждой секции */
    /* justify-content: center; */
    margin:auto;
}

.rightsection {
    width: 33%;
    display: flex;
    /* flex-direction: row; */
    /* align-items: right;  */
    justify-content: right;
    margin:auto;
}


.icon {
    margin-right: 5px; /* Задайте нужное вам расстояние */
}


