.bunsContainer {
    display: flex;
    overflow-x: auto; /* чтобы элементы можно было прокручивать по горизонтали */
  }
  
  .bunItem {
    margin-right: 20px; /* отступ справа, чтобы элементы не прилипали друг к другу */
  }