.section {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputWrapper {
    margin-bottom: 20px;
}

.othWrapper {
    margin-top: 70px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paragraph {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

