.burgerconstructor {
    width: 40%; 
    /* padding: 0 20px;  */
}

.burgerTabs{
    display: flex;
    margin-top: 20px;
}


.burgerHeader{
    margin-top: 40px;
    font-size: 36px; /* Устанавливаем размер шрифта */
    font-weight: 700; /* Устанавливаем вес шрифта */
}

.burgerBox{    
    height: calc(100vh - 300px); /* высота экрана */
    overflow-y: auto; /* прокрутка по вертикали */          
  }
  
  .burgerBox::-webkit-scrollbar {
    width: 8px;
  }
  
