

.partsContainer {
    display: flex;
    flex-wrap: wrap;   
    justify-content: center; /* выравниваем содержимое по центру по горизонтали */
    align-items: center; /* выравниваем содержимое по центру по вертикали */ 
  }
  
  .partsItem {
    margin-right: 20px; /* отступ справа, чтобы элементы не прилипали друг к другу */
    width: 40%;
    position: relative; /*чтобы установить контекст позиционирования для счетчика. 
    Затем мы используем position: absolute для .counter, 
    чтобы разместить его относительно ближайшего родителя с position: relative 
    (в данном случае это .partsItem). top: 0 и right: 0 размещают счетчик в правом верхнем углу .partsItem.*/
  }

  .counter {
    position: absolute;
    top: 0;
    right: 0;
  }

  .priceContainer {
    display: flex; /* применяем Flexbox */
    justify-content: center; /* выравниваем элементы по центру по горизонтали */
    align-items: center; /* выравниваем элементы по центру по вертикали */
    gap: 5px; /* добавляем пространство между элементами */
}

.nameContainer {
  display: flex; /* применяем Flexbox */
  justify-content: center; /* выравниваем содержимое по центру по горизонтали */
  align-items: center; /* выравниваем содержимое по центру по вертикали */
}

/* далее идут стили для оформления элементов внутри модального окна*/

.modalContent {
  padding: 40px;
  text-align: center;
}



.modalImage {
  width: 100%;
  height: auto;
}

.modalName {
  margin-top: 16px;
  margin-bottom: 20px;
}

.modalNutrition {
  display: flex;
  justify-content: space-between;
}

.modalNutritionItem {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

